<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Header Page</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../static/css/style.css">
</head>
<body>
	<div class="header" th:fragment="headerfrag">
		<div class="top-header">
			<a href="https://tinohost.com/cloud-hosting/?"
				class="top-header-link" target="_blank"
				style="color: black; padding: 8px; margin-left: 60px; position: relative; display: inline-block;"
				title="HOSTING TỪ 9K/THÁNG">Hosting từ 9k/tháng</a> <a
				href="https://tinohost.com/cloud-hosting/?" target="_blank"
				class="top-header-link" style="color: black;"
				title="VPS TỪ 139K/THÁNG">VPS từ 139k/tháng</a>
		</div>
		<div class="middle-header">
			<a href="/" target="_top"><img
				src="https://freetuts.net/public/logo/logo.png?rand=5"
				alt="freetuts"
				style="max-width: 160px; margin-top: -10px; margin-left: 50px; margin-top: 20px; margin-bottom: 20px;"></a>
			<div class="search-container">
				<input type="text" placeholder="Search.." name="search">
				<button type="submit"
					style="margin-left: -10px; margin-right: 20px;">
					<i class="fa fa-search"></i>
				</button>

				<a href="https://www.facebook.com/freetuts/" target="_blank"><button
						class="socialbtn">
						<i class="fa fa-facebook"
							style="color: white; background-color: #00687c;"></i>
					</button></a> <a href="https://www.youtube.com/channel/UC0jGwW2AfbsGbuY_Z3jtkAg"
					target="_blank"><button class="socialbtn">
						<i class="fa fa-youtube"
							style="color: white; background-color: #00687c;"></i>
					</button></a> <a href="https://twitter.com/freetuts_net" target="_blank"><button
						class="socialbtn">
						<i class="fa fa-twitter"
							style="color: white; background-color: #00687c;"></i>
					</button></a>
				<button class="socialbtn">
					<i class="fa fa-skype"
						style="color: white; background-color: #00687c;"></i>
				</button>

			</div>
		</div>

		<div class="menubar">
			<div class="dropdown" style="margin-left: 50px;">
				<a href="/" target="_top"><button class="dropbtn">
						<i class="fa fa-home"></i>
					</button></a>
			</div>

			<div class="dropdown">
				<button class="dropbtn">Lập trình</button>
				<div class="dropdown-content">
					<a th:href="@{'/detail/' + ${detail.categoryDetailId}}" href="#" th:each="detail : ${ProgramList}" th:text="${detail.categoryDetailName}">Programming</a>
				</div>
			</div>

			<div class="dropdown">
				<button class="dropbtn">Khóa học</button>
				<div class="dropdown-content">
					<a th:href="@{'/detail/' + ${detail.categoryDetailId}}" href="#" th:each="detail : ${KhoaHocList}" th:text="${detail.categoryDetailName}">Programming</a>
				</div>
			</div>
			
			<div class="dropdown">
				<button class="dropbtn">Website</button>
				<div class="dropdown-content">
					<a th:href="@{'/detail/' + ${detail.categoryDetailId}}" href="#" th:each="detail : ${WebsiteList}" th:text="${detail.categoryDetailName}">Programming</a>
				</div>
			</div>
			
			<div class="dropdown">
				<button class="dropbtn">Mã giảm giá</button>
				<div class="dropdown-content">
					<a th:href="@{'/detail/' + ${detail.categoryDetailId}}" href="#" th:each="detail : ${MaGiamGiaList}" th:text="${detail.categoryDetailName}">Programming</a>
				</div>
			</div>
			
			<div class="dropdown">
				<button class="dropbtn">Tin học</button>
				<div class="dropdown-content">
					<a th:href="@{'/detail/' + ${detail.categoryDetailId}}" href="#" th:each="detail : ${TinHocList}" th:text="${detail.categoryDetailName}">Programming</a>
				</div>
			</div>
			
			<div class="dropdown">
				<button class="dropbtn">Thủ thuật</button>
				<div class="dropdown-content">
					<a th:href="@{'/detail/' + ${detail.categoryDetailId}}" href="#" th:each="detail : ${ThuThuatList}" th:text="${detail.categoryDetailName}">Programming</a>
				</div>
			</div>
			
			<div class="dropdown">
				<button class="dropbtn">Download</button>
				<div class="dropdown-content">
					<a th:href="@{'/detail/' + ${detail.categoryDetailId}}" href="#" th:each="detail : ${DownloadList}" th:text="${detail.categoryDetailName}">Programming</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Môn học</button>
				<div class="dropdown-content">
					<a th:href="@{'/detail/' + ${detail.categoryDetailId}}" href="#" th:each="detail : ${MonHocList}" th:text="${detail.categoryDetailName}">Programming</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">
					<i class="fa fa-bars"></i>
				</button>
				<div class="dropdown-content">
					<a href="#" th:href="@{'/detail/' + '18'}">Marketing</a>
					<a href="#" th:href="@{'/detail/' + '41'}">Thuật ngữ</a> 
				</div>
			</div>
		</div>
	</div>
</body>
</html>